* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--tg-theme-bg-color, #9d88d3);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: var(--tg-theme-bg-color, #9d88d3);
    overflow: hidden;
}

.wrapper {
    position: relative;
}

.preload {
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
}

#content {
    margin: 2vh auto;
    width: 80vw;
}

h3 {
    color: var(--tg-theme-text-color, #ffffff);
}

p {
    color: var(--tg-theme-text-color, #ffffff);
}

a {
    color: var(--tg-theme-link-color, #574f84);
}

hr {
    border-bottom: 6px dashed white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: var(--tg-theme-text-color, #ffffff);
}

#subtitle-seperator {
    margin-bottom: 10px;
}

#counter-container {
    text-align: center; 
    font-weight: bold;
    margin: 64px 0;
}

#counter-container > p {
    text-shadow: var(--tg-theme-bg-color, #9d88d3) 0 0 10px,var(--tg-theme-bg-color, #9d88d3) 0 0 10px,var(--tg-theme-bg-color, #9d88d3) 0 0 10px,var(--tg-theme-bg-color, #9d88d3) 0 0 10px,var(--tg-theme-bg-color, #9d88d3) 0 0 10px;
}

#counter {
    color: var(--tg-theme-button-color, #574f84);
    font-size: 2em;
}

#counter-times {
    color: var(--tg-theme-text-color, #ffffff);
}

#counter-button {
    background-color: var(--tg-theme-button-color, #574f84);
    border: none;
    border-radius: 16px;
    color: var(--tg-theme-button-text-color, #ffffff);
    padding: 16px 32px;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 16px;

    position: relative;
    overflow: hidden;
    box-shadow: 6px 7px 40px -4px rgba(0, 0, 0, 0.2);
}

#counter-button:hover {
    background-color: var(--tg-theme-button-color, #2d2463);
}

#counter-button span {
    position: absolute;
    border-radius: 50%;
    background-color: var(--tg-theme-hint-color, #ffffff50);

    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;

    animation: ripple 1s;
    opacity: 0;
}

@keyframes ripple {
    from {
        opacity: 1;
        transform: scale(0);
    }

    to {
        opacity: 0;
        transform: scale(10);
    }
}

#credit {
    text-align: center; 
    margin: 64px 0;
}

@media screen and (max-width: 2240px) {
    .grid-item {
        width: calc(20% - 10px);
    }
}

@media screen and (max-width: 1920px) {
    .grid-item {
        width: calc(25% - 10px);
    }
}

@media screen and (max-width: 1512px) {
    body {
        font-size: 1.25em;
    }

    #subtitle-seperator {    
        margin-top: 3px;
        margin-bottom: 11px;
    }
}

@media screen and (max-width: 1280px) {
    .grid-item {
        width: calc(100% / 3 - 10px);
    }

    #footer {        
        flex-wrap: wrap;
    }

    #footer-text {
        text-align: center;
    }

    #footer-header-text {
        margin-bottom: 8px;
    }

    #footer-repository-text {
        margin-top: 16px;
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 1265px) {
    body {
        font-size: 1em;
    }

    #subtitle-seperator {    
        margin-top: 6px;
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 854px) {
    .grid-item {
        width: calc(50% - 10px);
    }
}

@media screen and (max-width: 510px) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.25em;
    }

    #subtitle-seperator {    
        margin-top: 8px;
        margin-bottom: 13px;
    }
}

@media screen and (max-width: 500px) {
    .grid-item {
        width: calc(100% - 10px);
    }
}

@media screen and (max-width: 430px) {
    h1 {
        font-size: 2em;
    }

    #subtitle-seperator {    
        margin-top: 10px;
    }
}